In [1]:
import pandas as pd
import numpy as np

In [2]:
credit_df = pd.read_excel('/content/Credit Card Dashboard.xlsx')

credit_df.head(10)

,Company,Company public response,Company response to consumer,Complaint Category,Complaint ID,Consumer complaint narrative,Consumer consent provided?,Consumer consent provided? (group),Consumer disputed?,Date received,...,Sub-issue,Sub-product,Submitted via,Table Name,Tags,Timely response?,ZIP code,Avg No of days,donut,Number of Records
0,Synchrony Financial,NaN,Closed with non-monetary relief,Billing disputes,1118322,NaN,NaN,Other Includes Null,No,2018-11-15,...,NaN,NaN,Web,Credit_Card_Complaints.csv,Older American,Yes,30024.0,0,0,1
1,JPMorgan Chase & Co.,NaN,Closed with explanation,Closing/Cancelling account,1111301,NaN,NaN,Other Includes Null,No,2018-11-11,...,NaN,NaN,Web,Credit_Card_Complaints.csv,NaN,Yes,6606.0,0,0,1
2,Sterling Jewelers Inc.,NaN,Closed with explanation,Bankruptcy,1118893,NaN,NaN,Other Includes Null,Yes,2018-11-16,...,NaN,NaN,Web,Credit_Card_Complaints.csv,NaN,Yes,54935.0,0,0,1
3,Citibank,NaN,Closed with explanation,Billing disputes,1097558,NaN,NaN,Other Includes Null,Yes,2018-11-02,...,NaN,NaN,Web,Credit_Card_Complaints.csv,NaN,Yes,5150.0,0,0,1
4,Discover,NaN,Closed with explanation,Billing disputes,1106302,NaN,NaN,Other Includes Null,No,2018-11-06,...,NaN,NaN,Web,Credit_Card_Complaints.csv,NaN,Yes,60646.0,0,0,1
5,TD Bank US Holding Company,NaN,Closed with monetary relief,Delinquent account,1118818,NaN,NaN,Other Includes Null,No,2018-11-16,...,NaN,NaN,Web,Credit_Card_Complaints.csv,NaN,Yes,92024.0,0,0,1
6,Bank of America,NaN,Closed with non-monetary relief,Advertising and marketing,1111396,NaN,NaN,Other Includes Null,No,2018-11-11,...,NaN,NaN,Web,Credit_Card_Complaints.csv,NaN,Yes,23112.0,0,0,1
7,JPMorgan Chase & Co.,NaN,Closed with explanation,Delinquent account,1118698,NaN,NaN,Other Includes Null,Yes,2018-11-16,...,NaN,NaN,Web,Credit_Card_Complaints.csv,NaN,Yes,75007.0,2,0,1
8,HSBC North America Holdings Inc.,NaN,Closed with explanation,Billing disputes,1118872,NaN,NaN,Other Includes Null,No,2018-11-16,...,NaN,NaN,Web,Credit_Card_Complaints.csv,NaN,Yes,20036.0,4,0,1
9,Citibank,NaN,Closed with explanation,Arbitration,1119008,NaN,NaN,Other Includes Null,No,2018-11-17,...,NaN,NaN,Web,Credit_Card_Complaints.csv,Older American,Yes,60649.0,0,0,1

In [3]:
credit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86893 entries, 0 to 86892
Data columns (total 25 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Company                             86893 non-null  object
 1   Company public response             19745 non-null  object
 2   Company response to consumer        86893 non-null  object
 3   Complaint Category                  86893 non-null  object
 4   Complaint ID                        86893 non-null  int64
 5   Consumer complaint narrative        17285 non-null  object
 6   Consumer consent provided?          29320 non-null  object
 7   Consumer consent provided? (group)  86893 non-null  object
 8   Consumer disputed?                  83121 non-null  object
 9   Date received                       86893 non-null  datetime64[ns]
 10  Date sent to company2               86893 non-null  datetime64[ns]
 11  Dimension                           86893 non-null  object
 12  Issue                               86893 non-null  object
 13  Product                             86893 non-null  object
 14  State                               86155 non-null  object
 15  Sub-issue                           0 non-null      float64
 16  Sub-product                         0 non-null      float64
 17  Submitted via                       86892 non-null  object
 18  Table Name                          86893 non-null  object
 19  Tags                                13097 non-null  object
 20  Timely response?                    86893 non-null  object
 21  ZIP code                            67806 non-null  float64
 22  Avg No of days                      86893 non-null  int64
 23  donut                               86893 non-null  int64
 24  Number of Records                   86893 non-null  int64
dtypes: datetime64[ns](2), float64(3), int64(4), object(16)
memory usage: 16.6+ MB

In [4]:
credit_df.isna().sum()

Company                                   0
Company public response               67148
Company response to consumer              0
Complaint Category                        0
Complaint ID                              0
Consumer complaint narrative          69608
Consumer consent provided?            57573
Consumer consent provided? (group)        0
Consumer disputed?                     3772
Date received                             0
Date sent to company2                     0
Dimension                                 0
Issue                                     0
Product                                   0
State                                   738
Sub-issue                             86893
Sub-product                           86893
Submitted via                             1
Table Name                                0
Tags                                  73796
Timely response?                          0
ZIP code                              19087
Avg No of days                            0
donut                                     0
Number of Records                         0
dtype: int64

In [5]:
credit_df['Company public response'].unique()

array([nan,
       'Company has responded to the consumer and the CFPB and chooses not to provide a public response',
       'Company believes it acted appropriately as authorized by contract or law',
       'Company chooses not to provide a public response',
       'Company believes the complaint is the result of a misunderstanding',
       "Company can't verify or dispute the facts in the complaint",
       'Company believes complaint is the result of an isolated error',
       'Company disputes the facts presented in the complaint',
       'Company believes complaint represents an opportunity for improvement to better serve consumers',
       'Company believes complaint caused principally by actions of third party outside the control or direction of the company',
       'Company believes complaint relates to a discontinued policy or procedure'],
      dtype=object)

In [6]:
credit_df.drop(['Sub-issue','Sub-product'],axis=1,inplace=True)

In [7]:
credit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86893 entries, 0 to 86892
Data columns (total 23 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Company                             86893 non-null  object
 1   Company public response             19745 non-null  object
 2   Company response to consumer        86893 non-null  object
 3   Complaint Category                  86893 non-null  object
 4   Complaint ID                        86893 non-null  int64
 5   Consumer complaint narrative        17285 non-null  object
 6   Consumer consent provided?          29320 non-null  object
 7   Consumer consent provided? (group)  86893 non-null  object
 8   Consumer disputed?                  83121 non-null  object
 9   Date received                       86893 non-null  datetime64[ns]
 10  Date sent to company2               86893 non-null  datetime64[ns]
 11  Dimension                           86893 non-null  object
 12  Issue                               86893 non-null  object
 13  Product                             86893 non-null  object
 14  State                               86155 non-null  object
 15  Submitted via                       86892 non-null  object
 16  Table Name                          86893 non-null  object
 17  Tags                                13097 non-null  object
 18  Timely response?                    86893 non-null  object
 19  ZIP code                            67806 non-null  float64
 20  Avg No of days                      86893 non-null  int64
 21  donut                               86893 non-null  int64
 22  Number of Records                   86893 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(4), object(16)
memory usage: 15.2+ MB

In [8]:
credit_df.shape

(86893, 23)

In [9]:
credit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86893 entries, 0 to 86892
Data columns (total 23 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Company                             86893 non-null  object
 1   Company public response             19745 non-null  object
 2   Company response to consumer        86893 non-null  object
 3   Complaint Category                  86893 non-null  object
 4   Complaint ID                        86893 non-null  int64
 5   Consumer complaint narrative        17285 non-null  object
 6   Consumer consent provided?          29320 non-null  object
 7   Consumer consent provided? (group)  86893 non-null  object
 8   Consumer disputed?                  83121 non-null  object
 9   Date received                       86893 non-null  datetime64[ns]
 10  Date sent to company2               86893 non-null  datetime64[ns]
 11  Dimension                           86893 non-null  object
 12  Issue                               86893 non-null  object
 13  Product                             86893 non-null  object
 14  State                               86155 non-null  object
 15  Submitted via                       86892 non-null  object
 16  Table Name                          86893 non-null  object
 17  Tags                                13097 non-null  object
 18  Timely response?                    86893 non-null  object
 19  ZIP code                            67806 non-null  float64
 20  Avg No of days                      86893 non-null  int64
 21  donut                               86893 non-null  int64
 22  Number of Records                   86893 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(4), object(16)
memory usage: 15.2+ MB

In [11]:
credit_df.drop(['Company public response'],axis=1,inplace=True)

credit_df.isna().sum()

Company                                   0
Company response to consumer              0
Complaint Category                        0
Complaint ID                              0
Consumer complaint narrative          69608
Consumer consent provided?            57573
Consumer consent provided? (group)        0
Consumer disputed?                     3772
Date received                             0
Date sent to company2                     0
Dimension                                 0
Issue                                     0
Product                                   0
State                                   738
Submitted via                             1
Table Name                                0
Tags                                  73796
Timely response?                          0
ZIP code                              19087
Avg No of days                            0
donut                                     0
Number of Records                         0
dtype: int64

In [12]:
credit_df.drop(['Tags'],axis=1,inplace=True)

credit_df.isna().sum()

Company                                   0
Company response to consumer              0
Complaint Category                        0
Complaint ID                              0
Consumer complaint narrative          69608
Consumer consent provided?            57573
Consumer consent provided? (group)        0
Consumer disputed?                     3772
Date received                             0
Date sent to company2                     0
Dimension                                 0
Issue                                     0
Product                                   0
State                                   738
Submitted via                             1
Table Name                                0
Timely response?                          0
ZIP code                              19087
Avg No of days                            0
donut                                     0
Number of Records                         0
dtype: int64

In [13]:
credit_df.drop(['Consumer complaint narrative','Consumer consent provided?'],axis=1,inplace=True)

credit_df.isna().sum()

Company                                   0
Company response to consumer              0
Complaint Category                        0
Complaint ID                              0
Consumer consent provided? (group)        0
Consumer disputed?                     3772
Date received                             0
Date sent to company2                     0
Dimension                                 0
Issue                                     0
Product                                   0
State                                   738
Submitted via                             1
Table Name                                0
Timely response?                          0
ZIP code                              19087
Avg No of days                            0
donut                                     0
Number of Records                         0
dtype: int64

In [14]:
credit_df.fillna(method='ffill',inplace=True)

In [15]:
credit_df.isna().sum()

Company                               0
Company response to consumer          0
Complaint Category                    0
Complaint ID                          0
Consumer consent provided? (group)    0
Consumer disputed?                    0
Date received                         0
Date sent to company2                 0
Dimension                             0
Issue                                 0
Product                               0
State                                 0
Submitted via                         0
Table Name                            0
Timely response?                      0
ZIP code                              0
Avg No of days                        0
donut                                 0
Number of Records                     0
dtype: int64

In [17]:
credit_df.shape

(86893, 19)

In [19]:
credit_df.to_excel('CleanedCreditcard.xlsx')