In [2]:
import pandas as pd
import numpy as np

In [ ]:
# reading Dataset

amazon_df = pd.read_csv('/content/drive/MyDrive/DataSets/Amazon Sale Report.csv')

amazon_df

# Checkout head of Dataset

amazon_df.head()

# Checkout info of Dataset. will check for datatype and count of each column

amazon_df.info()

# Will check and drop for unwanted column, which will not affect to dataset and will not usefull in visvalization

amazon_df.drop(['Unnamed: 22'],inplace=True,axis=1)
amazon_df.drop(['promotion-ids'],inplace=True,axis=1)
amazon_df.drop(['SKU'],inplace=True,axis=1)
amazon_df.drop(['ASIN'],inplace=True,axis=1)
amazon_df.drop(['index'],inplace=True,axis=1)

# Above column droped from dataset. Will check for NaN counts for each column.

amazon_df.isna().sum()

# 1st for column = 'fulfilled-by', will fill values using ffill mathod and remaing will fill with 'Normal-Delivery'

amazon_df['fulfilled-by'].fillna(method = 'ffill',limit=1,inplace = True)

amazon_df['fulfilled-by'].fillna('Normal-Delivery',inplace = True)

# will check for NaN counts

amazon_df.isna().sum()

# 2nd for column = 'Currency'. as all data of INDIA only hence currecy for all will be 'INR', So filling with 'INR'

amazon_df['currency'].fillna('INR',inplace = True)

# will check for NaN counts

amazon_df.isna().sum()

# 3rd for columns = 'ship-city','ship-state','ship-postal-code','ship-country'. This column having less NaN so insted of deleting will fill with ffill method

column_fill_na = ['ship-city','ship-state','ship-postal-code','ship-country']

column_fill_na

amazon_df[column_fill_na] = amazon_df[column_fill_na].fillna(method='ffill')

# will check for NaN counts

amazon_df.isna().sum()

# 4th for column = 'courier-status'. This column cant be fill with any of method or it will change mean of detaset. will drop NaNs

amazon_df.dropna(subset =['Courier Status'],inplace= True)

# 5th for column = 'Amount'. This column cant be fill with any of method or it will change mean of detaset. will drop NaNs

amazon_df.dropna(subset =['Amount'],inplace= True)

# Done will all NaNs, Will check for final dataset info and shape of dataset

amazon_df.info()
amazon_df.shape

# will export cleaned fill and use it for visulization using tableau.
amazon_df.to_csv('Cleaned.CSV')

In [6]:
amazon_df.shape

(116044, 19)

# New Section